* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


html {
    font-family: 'Helvetica'
}

.headerandlinks {
    max-height: 50vh;
}
.project-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.project-item:hover {
    background-color: #f0f0f0; /* Change color on hover */
}
