---
layout: base.njk
bodyClass: wrapper
---

<div class="projects"> 
      {% for project in projects %}
        <span class="project-item-idx">{{ loop.index0 | padzero }}</span>
        <span class="project-item-name"><strong> {{ project.name }} </strong></span>

        <a href="/projects/{{ project.name | slugify }}" class="project-item-des-{{ project.tilt }}">{{ project.des }} </a>
      {% endfor %}
</div>
<div class="info"> 
    <div class="info-left"> 
        <span>(name)</span> 
        <span class="myname"> jacoobes</span>
        <span>(settings)</span>
        <div class="settinbutton">
                <label class="theme-toggle"></label>
                <input type="checkbox" id="dark-mode-toggle">
                <span>Dark</span>
        </div>
        <span class="linktitle">(links)</span>
        <div class="links">
        {% for link in links %}
            <a class="link-style" href="{{ link.url }}">
                <span>{{ link.label }} ↗</span>
            </a>
        {% endfor %}
        </div>
    </div>

<!--        <div class="contact">
            <span class="infotitle">(contact)</span>
            <form class="contact-form" action="https://send.pageclip.co/bSCNueNophgfnRmIhCPRi9QDRRxCw8BE" class="pageclip-form" method="post">
              <input type="text" required name="subject" class="pure-input" placeholder="subject" />
              <input type="email" required name="email" placeholder="your contact" />
              <button type="submit" class="pure-button pageclip-form__submit">
                Send
              </button>
            </form>
        </div> -->
</div>
